.rule-list {
  height: 100%;
  .container {
    height: calc(100% - 60px);
    display: flex;
    flex-direction: column;
    .cards {
      height: calc(100% - 60px);
    }
  }

  .footer {
    height: 60px;
    line-height: 60px;
  }
}
