$roundX: calc(-9px / 2);
.eWidgetContainer {
  position: absolute;
  // background-color: rgba($color: #fff, $alpha: 1);
  border: 1px dotted rgba(0, 0, 0, 0.4);

  .round {
    position: absolute;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    border: 1px dotted #fff;
    background-color: #777;

    &.lt {
      left: $roundX;
      top: $roundX;
      cursor: nwse-resize;
    }
    &.lc {
      left: $roundX;
      top: calc(50% - 3px);
      cursor: ew-resize;
    }
    &.lb {
      left: $roundX;
      bottom: $roundX;
      cursor: nesw-resize;
    }
    &.ltc {
      left: calc(50% - 3px);
      top: $roundX;
      cursor: ns-resize;
    }
    &.rt {
      right: $roundX;
      top: $roundX;
      cursor: nesw-resize;
    }
    &.rc {
      right: $roundX;
      top: calc(50% - 3px);
      cursor: ew-resize;
    }
    &.rb {
      right: $roundX;
      bottom: $roundX;
      cursor: nwse-resize;
    }
    &.rbc {
      left: calc(50% - 3px);
      bottom: $roundX;
      cursor: ns-resize;
    }
  }
}

.grab {
  cursor: grab;
}

.grabbing {
  cursor: grabbing;
}
