$width: 300px;
.widget-drawer {
  position: absolute;
  left: 0;
  top: 50px;
  width: $width;
  height: calc(100% - 50px);
  border-right: 1px solid #e5e5e5;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  overflow-y: auto;
  transform: translate3d(-310px, 0, 0);

  .widget-card {
    width: calc(($width - 22px) / 2);
    display: inline-block;
    padding: 15px 0;
    margin: 5px;
    cursor: pointer;

    .widget-card-icon {
      margin: 0 auto;
      width: 100px;
      height: 100px;
      padding: 10px;
      background-color: #fff;
      box-shadow: 0 0 10px 0 #fff;
      :global(.t-image__wrapper) {
        width: 80px;
        height: 80px;
        margin: auto;
      }
    }

    .widget-card-name {
      margin-top: 10px;
      font-size: 14px;
      text-align: center;
    }

    &:hover {
      box-shadow: inset 0 0 10px 0 rgba(0, 0, 0, 0.1);
    }
  }
}

:global(.t-collapse-panel__wrapper .t-collapse-panel__content) {
  padding: 0;
}

.visible {
  transform: translate3d(0, 0, 0);
  animation: visibleFrames 0.2s linear;
}

@keyframes visibleFrames {
  0% {
    transform: translate3d(-300px, 0, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}
