.wrapper {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  height: 60px;
  // box-shadow: 0.5px 2px 4px #000;

  .h-left {
    display: flex;
    align-items: center;
    .logo {
      width: 300px;
      text-align: center;
    }
  }
  .h-center {
    padding: 0 15px;
    max-width: 600px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  .h-right {
    position: absolute;
    right: 15px;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    :global {
      .t-space {
        align-items: center;
      }
    }

    .userLogo {
      width: 40px;
      height: 40px;
      overflow: hidden;
      border-radius: 50%;
      cursor: pointer;
      img {
        width: 40px;
        height: 40px;
      }
    }
  }
}

.popupContent {
  width: 300px;
  :global {
    .t-popup__content {
      padding: 20px 0 20px 20px;
      // height: 200px;
    }
  }
}
