.widget {
  height: 100%;
  .container {
    height: calc(100% - 40px);
    // display: flex;
    // flex-direction: column;
    .cards {
      height: calc(100% - 50px);
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      // overflow: scroll;
    }

    .footer {
      margin-top: 10px;
      height: 40px;
      line-height: 40px;
    }
  }
}
