.layoutContainer {
  margin: 16px 16px 0px;
  padding: 15px;
  background-color: #fff;
  border-radius: 8px;
  transform: translate3d(0px, 0, 0);
  box-sizing: border-box;
  transition: width 0.28s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.translateLeft150 {
  border-radius: 8px;
  box-shadow: 1px 5px 10px #fff;
}

.editor {
  padding: 0px;
  border-radius: 0px;
  background-color: transparent;
}
