.main-wrapper {
  position: absolute;
  left: 0;
  z-index: 1;
  width: 100%;
  height: calc(100% - 50px);

  .canvas {
    position: absolute;
    left: 0;
    top: 0;
  }

  .lt {
    cursor: nwse-resize;
  }
  .lc {
    cursor: ew-resize;
  }
  .lb {
    cursor: nesw-resize;
  }
  .ltc {
    cursor: ns-resize;
  }
  .rt {
    cursor: nesw-resize;
  }
  .rc {
    cursor: ew-resize;
  }
  .rb {
    cursor: nwse-resize;
  }
  .rbc {
    cursor: ns-resize;
  }

  .h,
  .v {
    position: absolute;
    left: 0;
    top: 0;
    div {
      position: absolute;
    }
  }
  .h div {
    height: 2px;
  }
  .v div {
    width: 2px;
  }
  .line {
    background-color: #0052d9;
  }
}

.grab {
  cursor: grab;
}

.visible {
  width: calc(100% - 300px);
  left: 300px;
}
